name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      # # - name: Run ESLint
      # - name: Run lint
      #   run: npm run lint

      - name: Start app in background
        run: |
          nohup npm run start > app.log 2>&1 &
          sleep 5

      # - name: Check app started
      #   run: |
      #     curl --retry 5 --retry-delay 2 --fail http://localhost:3000 || (cat app.log && exit 1)
